<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="section_title">
          <br>
          <div class="section_subtitle">About Us</div>
          <h2 class="section_main_title">We Are <strong>Reliable</strong></h2>
        </div>

        <div class="about-item">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed sed dui sed eros lobortis suscipit id eu neque.
            Duis malesuada nulla vitae nulla congue dictum.
            Donec vehicula ac tellus at commodo.
            In tempor euismod tellus, id consequat lacus pulvinar ut.
            Quisque odio purus, pulvinar sit amet magna in, gravida tincidunt tortor.
            Ut elementum dapibus finibus. Ut et nunc sapien.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam condimentum eget felis quis efficitur.
            Proin commodo feugiat nulla, a mollis.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <img src="assets/img/5.jpg" class="img-fluid " alt="bee" />
      </div>

    </div>
  </div>
</body>
