
.section_title .section_subtitle {
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #aaaaaa;
  border-left: 3px solid #bfa67a;
  font-family: sans-serif;
}

.section_main_title {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 300;
}

  .section_main_title strong {
    font-weight: 600;
  }

.img-fluid {
  padding-top: 80px;
}
