<div class="container">
  <div class="middle">
    <h3 class="title">follow us</h3>
    <a class="btn" href="https://www.facebook.com/" target="_blank">
      <fa-icon [icon]="faFacebookF"></fa-icon>
    </a>
    <a class="btn" href="https://twitter.com/" target="_blank">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
    <a class="btn" href="https://www.instagram.com/"target="_blank">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a class="btn" href="https://www.youtube.com/"target="_blank">
      <fa-icon [icon]="faYoutube"></fa-icon>
    </a>
  </div>
</div>
